doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Video streaming server
    link(rel='stylesheet', href='/css/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
