*.o
*.a
*.out
*.ko
*.mod.c
*.mod
*.symvers
*.order
*.o.cmd
*.ko.cmd
*.pyc
*.tar.gz
*.log
*.bin

playh264
sender
player/listener
player/fetcher
player/player
encoder/x264
encoder/x264.pc
encoder/x264_config.h
encoder/config.h
encoder/config.mak
rsa/main
rsa/rsa
frame_*
*_tests
out
syslog
.depend
videos

node_modules
